// colors
$brown-lighterer: #daa520; //golden rod hex
$brown-lighter: #cd7f32; //bronze color hex
$brown-light: #b87333; // copper color hex
$brown: #996515; // golden brown hex
$brown-dark: #80461b; // russet color hex
$brown-darker: #5d432c; // walnutt brown hex

$white: #ffffff;

// font sizes
$font-navbar: 16px;
