.carousel-section {
	overflow: hidden;
	z-index: 0;

	.carousel-container {
		height: 50vw;
		@media (min-width: 1000px) {
			max-height: 80vh !important;
		}
	}

	.bg-img {
		width: 100%;
		height: auto;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}

	.control-dots {
		margin-bottom: 30px !important;
	}

	.arrow-button {
		position: absolute;
		z-index: 2;
		top: calc(50% - 15px);
		width: 45px;
		height: 45px;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	.right {
		right: 15px;
		transition: 0.5s ease-in;
	}

	.left {
		left: 15px;
		transition: 0.5s ease-in;
	}
}
