.row {
	width: 100%;
	display: flex;
	// border: 1px solid grey;
}

@media (max-width: 766px) {
	.row {
		flex-direction: column;
	}
	.col-half {
		width: 100%;
	}

	.col-third {
		width: 100%;
	}

	.col-twothirds {
		width: 100%;
	}
}

@media (min-width: 767px) {
	.row {
		flex-direction: row;
	}
	.col-half {
		width: 49.999%;
	}

	.col-third {
		width: 33.3333%;
	}

	.col-twothirds {
		width: 66.6667%;
	}
}
