@import '../../../../../styles/main.scss';

.tagline {
	@media (min-width: 800px) {
		max-height: 700px;
		padding: 7% 0;
	}
	img {
		object-fit: cover;
		width: 35vw;
		height: calc(35vw * 0.65);
	}

	.tag-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		h1 {
			font-family: 'Nunito', sans-serif;
			font-weight: 700;
			font-size: $font-large;
			letter-spacing: 1px;
			line-height: 1.2;
			margin: 0 auto;
			text-transform: uppercase;
		}
		h2 {
			margin: 0;
			font-size: $font-smedium;
		}
		p {
			width: 70%;
			font-size: $font-medium;
			letter-spacing: 2px;
			line-height: 1.2;
			margin: 0 auto;
			margin-top: 10px;
		}
		.view-products {
			text-decoration: none;
			color: $white;
			background-color: $brown-light;
			border: 1px solid $brown-light;
			padding: 1rem 3rem;
			border-radius: 5px;
			margin-top: 1.5rem;
			transition: all ease 300ms;
			font-size: 1.2rem;
			&:hover {
				color: $brown-light;
				background-color: $white;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
}
