@import '../../../../../styles/main.scss';

.tagline {
	@media (min-width: 800px) {
		max-height: 700px;
		padding: 10% 0;
	}
	img {
		object-fit: cover;
		width: 35vw;
		height: calc(35vw * 0.65);
	}

	.tag-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		h1 {
			font-family: 'Nunito', sans-serif;
			font-weight: 700;
			font-size: $font-large;
			letter-spacing: 2px;
			line-height: 1.2;
			margin: 0 auto;
		}
		p {
			width: 70%;
			font-size: $font-medium;
			letter-spacing: 2px;
			line-height: 1.2;
			margin: 0 auto;
			margin-top: 10px;
		}
	}
}
