@import '../../../styles/main.scss';

.about-us {
	background-color: #e2c9be;
	background-image: linear-gradient(90deg, #e2c9be 0%, #fbf7e9 74%);
	.about-1 {
		flex-direction: column;
		padding: 50px 0;
	}
	h1 {
		font-size: 2.5rem;
	}
	p {
		text-align: center;
		width: 90%;
		font-size: 22px;
		letter-spacing: 2px;
		line-height: 1.2;
		margin: 0;
		margin-top: 10px;
	}
	img {
		object-fit: cover;
		width: 35vw;
		height: calc(35vw * 0.65);
	}
	.img-container {
		position: relative;
		width: 35vw;
		height: calc(35vw * 0.65);
		overflow: hidden;
	}
	.darken {
		z-index: 100;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.2);
		top: 0;
	}
	.tag-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 700px;
		width: 100%;

		h1 {
			font-family: 'Nunito', sans-serif;
			font-weight: 700;
			font-size: 38px;
			letter-spacing: 2px;
			line-height: 1.2;
			margin: 0;
			width: 80%;
		}
	}
}
