@import '../../../styles/main.scss';

.product-card {
	@media (min-width: 800px) {
		width: calc((100vw - 250px) * 0.28);
		max-width: 30%;
		max-height: 30%;
		margin: 1rem auto;
	}
	@media (max-width: 799px) {
		width: 90%;
		height: auto;
		margin: 1rem auto;
	}
	overflow: hidden;
	background-color: $white;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
	height: 100%;
	img {
		padding: 2%;
		object-fit: contain;
		width: 96%;
		height: auto;
		transition: 250ms;
		&:hover {
			transform: scale(0.95);
			transition: transform ease 250ms;
		}
	}
}
