@import '../../../styles/main.scss';

.ReactModal__Content {
	border-radius: 6px !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	@media (min-width: 800px) {
		width: 45.625rem;
		height: 34.375rem;
		top: 15vh !important;
		left: 50% !important;
		transform: translate(-50%);
		.col-half {
			height: 100%;
		}
	}
	.row {
		height: 100%;
	}
	@media (max-width: 799px) {
		.col-half {
			height: 50%;
		}
	}
	h1 {
		font-weight: 300;
	}
	.top-0 {
		margin-top: 0px;
	}
	.close-button {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
}
