@import '../../../../../styles/main.scss';

.features {
	display: flex;
	img {
		object-fit: cover;
		width: 30vw;
		height: calc(30vw * 0.65);
	}
	@media (min-width: 800px) {
		padding: 5% 0;
		.row {
			&:first-child {
				margin-bottom: 5%;
			}
		}
	}
	@media (max-width: 799px) {
		.row {
			margin-bottom: 10%;
		}
	}
	.production {
		width: 35%;
		display: grid;
		place-items: center;
	}
	.card {
		background-color: $white;
	}
	.arrows {
		width: 30%;
		display: flex;
		justify-content: space-between;
		.arrow-icon {
			max-height: 130px;
			height: 10vw;
			width: auto;
		}
		.reverse {
			transform: scaleX(-1);
		}
	}
}
