.container {
	max-width: 1366px;
	margin: auto;
}

.center-xy {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-y {
	display: flex;
	align-items: center;
}

.card {
	border-radius: 6px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.mag-y50 {
	margin: 50px auto;
}

.mh-700 {
	max-height: 700px;
}

// These classess are only valid on larger screens
@media (min-width: 800px) {
	.pv-lg-10p {
		padding: 10% 0;
	}
	.hide-lg {
		display: none !important;
	}
}

// These classess are only valid on smaller screens
@media (max-width: 799px) {
	.hide-sm {
		display: none !important;
	}

	.mag-y50-smo {
		margin: 50px auto;
	}

	.pad-y50-smo {
		padding: 50px 0px;
	}
}
