@import '../../../../styles/main.scss';

.product-page {
	@media (min-width: 800px) {
		.sidenav {
			width: 20%;
			max-width: 350px;
			min-width: 200px;
			margin-right: 2%;
		}
	}
	@media (max-width: 799px) {
		.sidenav {
			width: 90%;
			margin: auto;
		}
	}
	.sidenav {
		.card {
			background-color: $white;
			overflow: hidden;
			margin: auto;
		}
		p {
			margin: 0px;
		}
		.header {
			padding: 12px 10px;
			text-decoration: none;
			font-size: $font-navbar;
			color: $brown-dark;
			display: flex;
			justify-content: space-between;
			border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.4);
			img {
				height: 20px;
				width: auto;
			}
			&:hover {
				transition: 0.25s;
				cursor: pointer;
				background-color: rgba($color: #f8f2d9, $alpha: 1);
			}
		}
		.content {
			.content-link {
				color: $brown;
				padding: 12px;
				border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.1);
				&:hover {
					transition: 0.25s;
					cursor: pointer;
					background-color: rgba($color: #fbf7e9, $alpha: 1);
				}
			}
		}
		.hide {
			max-height: 0;
			overflow: hidden;
			transition: 1.5s ease;
		}
	}
}
