@import '../../../styles/main.scss';
.ReactModal__Overlay {
	z-index: 100;
}
.ReactModal__Content {
	border-radius: 6px !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	top: 15vh !important;
	left: 50% !important;
	transform: translate(-50%);
	@media (min-width: 800px) {
		width: 45.625rem;
		height: 34.375rem;
		.col-half {
			height: 100%;
		}
	}
	@media (max-width: 799px) {
		width: 80%;
		height: fit-content;
		padding: 2rem;
	}

	.row {
		height: 100%;
	}
	.close-button {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}
