@import '../../../styles/main.scss';

.bottom-utils {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	.util-icon {
		cursor: pointer;
		height: 3rem;
		width: 3rem;
		background-color: $white;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
		border-radius: 50%;
		display: grid;
		place-items: center;
		margin-top: 1rem;
		img {
			height: 1.2rem;
			width: 1.2rem;
		}
		.large-util {
			height: 2.5rem;
			width: 2.5rem;
		}
		.medium-util {
			height: 2rem;
			width: 2rem;
		}
	}
	
}