@import '../../../styles/main.scss';

.product-page {
	@media (min-width: 800px) {
		.sidenav {
			width: 20%;
			max-width: 250px;
			min-width: 200px;
			margin-left: 25px;
		}
		.main {
			width: 80%;
		}
	}
	@media (max-width: 799px) {
		.sidenav {
			width: 100%;
			margin: auto;
		}
		.main {
			width: 100%;
		}
	}
	.sidenav {
		.card {
			background-color: $white;
			overflow: hidden;
			width: 90%;
			margin: auto;
		}
		a {
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			font-size: $font-navbar;
			color: $brown-dark;
			display: block;
			&:hover {
				transition: 0.25s;
				color: $white;
				background-color: $brown-lighter;
			}
		}
	}
	.main {
		min-height: 80vh;
		@media (min-width: 800px) {
			.row {
				margin: 0px auto 3rem;
				width: 90%;
			}
			#load-more {
				width: 92.5% !important;
			}
		}
		#load-more {
			width: 90%;
			background-color: $white;
			border-radius: 5px;
			height: 2.5rem;
			border: none;
			transition: all ease 0.25s;
			&:hover {
				cursor: pointer;
				background-color: rgb(244, 244, 244);
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
			}
		}
		.spinner-container {
			height: 70%;
			display: grid;
			place-items: center;
		}
	}
}
