@import '../../../styles/main.scss';

.product-page {
	.main {
		min-height: 80vh;
		@media (min-width: 800px) {
			width: 90%;
			.row {
				margin: 0px auto 3rem;
				// width: 90%;
			}
			#load-more {
				width: 92.5% !important;
			}
		}
		@media (max-width: 799px) {
			width: 100%;
		}
		#load-more {
			width: 90%;
			background-color: $white;
			border-radius: 5px;
			height: 2.5rem;
			border: none;
			transition: all ease 0.25s;
			&:hover {
				cursor: pointer;
				background-color: rgb(244, 244, 244);
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
			}
		}
		.spinner-container {
			height: 70%;
			display: grid;
			place-items: center;
		}
	}
}
