@tailwind base;
@tailwind components;
@tailwind utilities;

.react-images__view-image {
	max-height: 80vh !important;
}

#modal-content div {
	background-position: center;
	background-size: contain !important;
}

html,
body {
	overflow-x: scroll;
}
