@tailwind base;
@tailwind components;
@tailwind utilities;

.react-images__view-image {
	max-height: 80vh !important;
}

#modal-content div {
	background-position: center;
	background-size: contain !important;
}

#__next {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}

main {
	padding-bottom: 12rem;
}