@import '../../../styles/main.scss';

.footer {
	color: $white;
	background-color: $brown-lighter;
	padding: 2rem;
	@media (min-width: 800px) {
		margin-top: 5%;
	}
	margin-top: 10%;
	.footer-left {
		text-align: center !important;
		margin-bottom: 1.5rem;
	}
	.footer-right {
		justify-content: center !important;
	}
	.footer-left {
		width: 100% !important;
		text-align: left;
		h2 {
			margin: 0;
		}
	}
	.footer-right {
		width: 100% !important;
		display: flex;
		justify-content: right;
		align-items: center;
		a {
			color: $white;
			height: 18px;
			text-decoration: none;
			padding: 0 1rem;
			border-right: 1px solid white;
			transition: all ease 200ms;
			&:last-child {
				border-right: none;
			}
			&:hover {
				color: $brown-darker;
			}
		}
	}
}
